<table class="table table-hover table-bordered">
  <thead>
  <th>Id</th>
  <th>Full name</th>
  </thead>
  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.id %></td>
      <td><%= author.full_name %></td>
      <td><%= link_to "Update", controller: "authors", action: "edit", id: author.id %></td>
      <td><%= link_to "Delete", controller: "authors", action: "destroy", id: author.id, method: :delete, data: { confirm: "Allow?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @authors%>
