<table class="table table-hover table-bordered">
  <thead>
  <th>Id</th>
  <th>Name</th>
  <th>Address</th>
  <th>Phone number</th>
  </thead>
  <tbody>
  <% @libraries.each do |library| %>
    <tr>
      <td><%= library.id %></td>
      <td><%= library.name %></td>
      <td><%= library.address %></td>
      <td><%= library.phone_number %></td>
      <td><%= link_to "Update", controller: "libraries", action: "edit", id: library.id %></td>
      <td><%= link_to "Delete", action: "destroy", id: library.id, method: :delete, data: { confirm: "Allow?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @libraries, class: { previous_label: "btn btn-primary", next_label: "btn btn-secondary", inner_window: "btn btn-outline-primary" } %>