<h2>Library info</h2>
<p>id: <%= @library.id %></p>
<p>name: <%= @library.name %></p>
<p>address: <%= @library.address %></p>
<p>phone_number: <%= @library.phone_number %></p>

<%= link_to "Users", "/users_info?id=#{@library.id}", class: "btn btn-light" %>